[submodule "themes/zola-xmin"]
	path = themes/zola-xmin
	url = https://github.com/mangkoran/zola-xmin.git
[submodule "themes/foobar-zola"]
	path = themes/foobar-zola
	url = https://github.com/mangkoran/foobar-zola.git
